@font-face {
    font-family: "New Romantics";
    src: url(NewRomantics.ttf) format("truetype");
}

html, body{
    
    height: 100%;
    background-color: #120137ff;
    font-family: "Lora", serif; 
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-family: "New Romantics", serif;
    font-size: 100px;
    letter-spacing: 2px;
    font-weight: normal;
}

h2, h3, h4, h5, h6{
    font-family: "Cinzel", serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;;
    flex: 1;                 
    height: 100%; 
    width: 800px;
    background-color: #f2f2f0ff;
    color: #120137ff;
}

ul{
    list-style-type: none;
    position: relative;
    padding-left: 30px;
}

li{
    position: relative;
    padding-left: 30px;
}

li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('star.svg');
    background-size: contain;
    background-repeat: no-repeat;
    color: #2a0574ff
}


footer{
    width: 100%;
    color: #f2f2f0ff;
    padding: 10px;
    text-align: center;
    background-color: #2a0574ff;
    position: relative;
    bottom: 0;

}
